apiVersion: v1
kind: ConfigMap
metadata:
  name: tp-foyer-config
  namespace: prod
data:
  SPRING_APPLICATION_JSON: |
    {
      "spring.datasource.url": "jdbc:mysql://mysqldb:3306/db?createDatabaseIfNotExist=true",
      "spring.datasource.username": "root",
      "spring.datasource.password": "root",
      "spring.jpa.hibernate.ddl-auto": "update",
      "logging.level.org.springframework": "DEBUG",
      "logging.level.org.hibernate": "DEBUG",
      "logging.level.com.zaxxer.hikari": "DEBUG"
    }
